{% extends 'user_auth/base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Order Payment</div>
                <div class="card-body">
                    <p><strong>Order Summary:</strong></p>
                    <ul>
                        {% for item in order_items %}
                            <li>
                                <p>{{ item.product.title }} - {{ item.quantity }}</p>
                            </li>
                        {% endfor %}
                    </ul>

                    {% if wallet_balance >= order.total_price and wallet_balance > 0 %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Pay Now</button>
                        </form>
                    {% else %}
                        <p class="text-danger">Insufficient funds in wallet.</p>
                    {% endif %}

                    <p><strong>Total Price:</strong> ₹{{ order.total_price }}</p>
                    <p><strong>Wallet Balance:</strong> ₹{{ wallet_balance }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
